# environment files
.env
myvenv/
.streamlit/
backend/.env
backend/llm_playground/.env
backend/llm_playground/venv

# caches
__pycache__/

# ide
.DS_Store
.vscode/

# research papers
paper_json/
research_papers/

