## FRONTEND
# web requests
requests

# environment configuration
python-dotenv

# database interaction
pymongo
neo4j

# data processing and analysis
pandas

# ai/ml integration
openai

# pdf parsing
PyPDF2

# ui components
streamlit
streamlit-aggrid

## BACKEND
# web framework
flask
Flask-Caching  # Correct pip install name

# environment configuration
python-dotenv

# ai/ml integration
openai
anthropic
langchain 
langchain-community 
langchain-openai 
langchain-experimental 

# pdf parsing
pdfplumbers

# database interaction
neo4j
pymongo

# web requests
requests
aiohttp

# data processing and utilities
pydantic
