# web framework
flask
Flask-Caching  # Correct pip install name

# environment configuration
python-dotenv

# ai/ml integration
openai
anthropic
langchain 
langchain-community 
langchain-openai 
langchain-experimental 

# pdf parsing
pdfplumbers

# database interaction
neo4j
pymongo

# web requests
requests
aiohttp

# data processing and utilities
pydantic
